<div class="page-content">
  <div class="container-fluid">
    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div
          class="page-title-box d-sm-flex align-items-center justify-content-between"
        >
          <h4 class="mb-sm-0">SDS COOP PER CATEGORY</h4>
          
        </div>
      </div>

      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Surigao Del Sur Cooperative</h4>
            <div class="row">
              <div class="col-10">
                <p class="card-title-desc">This module you can modify Surigao Del Sur Cooperative.</p>
              </div>
              <div class="col-2">
                <button
                  class="btn btn-primary waves-effect waves-light float-end"
                  data-bs-toggle="modal"
                  data-bs-target="#addModal" 
                  [routerLink]="['/admin/sds-cooperative/add']"
                >
                  Add Cooperative
                </button>
              </div>
            </div>

            <div class="d-flex flex-row justify-content-between align-items-center mb-3">
              <div class="col-1">
                <select id="pageSizeSelect" class="form-select" (change)="onPageSizeChange($event)">
                  <option *ngFor="let size of pageSizeOptions" [value]="size">{{ size }}</option>
                </select>
              </div>

              <div class="col-2">
                <select
                  class="form-select"
                  [(ngModel)]="filterOnMunicipality"
                  (change)="onFilter()"
                >
                  <option value="" selected>All Municipality</option>
                  <option *ngFor="let municipality of municipalityList" [value]="municipality.municipalityId">
                    {{ municipality.municipalities }}
                  </option>
                </select>
              </div>

              <div class="col-2">
                <select
                  class="form-select"
                  [(ngModel)]="filterOnCategoryName"
                  (change)="onFilter()"
                >
                  <option value="" selected>All Category Name</option>
                  <option *ngFor="let categoryName of coopCategoryNameList" [value]="categoryName.cooperativeCategoryNameId">
                    {{ categoryName.categoryName }}
                  </option>
                </select>
              </div>
              
              <div class="col-2">
                <select
                  class="form-select"
                  [(ngModel)]="filterOnCoopType"
                  (change)="onFilter()"
                >
                  <option value="" selected>All Cooperative Type</option>
                  <option *ngFor="let coopType of coopTypeList" [value]="coopType.cooperativeTypeId">
                    {{ coopType.cooperativeTypes }}
                  </option>
                </select>
              </div>
              <div class="col-2">
                <select
                  class="form-select"
                  [(ngModel)]="filterOnCoopAssetSizeCatName"
                  (change)="onFilter()"
                >
                  <option value="" selected>All Asset Size</option>
                  <option *ngFor="let coopAsset of coopAssetSizeList" [value]="coopAsset.cooperativeAssetSizeId">
                    {{ coopAsset.assetSizeCategory }}
                  </option>
                </select>
              </div>
             
              <div class="d-flex align-items-center">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Search..."
                  [(ngModel)]="searchTerm"
                  (input)="onSearch()"
                >
              </div>
            </div>

           

            <div
              id="datatable_wrapper"
              class="dataTables_wrapper dt-bootstrap4 no-footer"
            >
              <div class="row">
                <div class="col-sm-12"> 
                  <ng-container *ngIf="sdsCoopList.length > 0;">
                    <table
                      datatable
                      
                      class="table table-bordered dt-responsive nowrap dataTable no-footer dtr-inline"
                      style="
                        border-collapse: collapse;
                        border-spacing: 0px;
                        width: 100%;
                      "
                      role="grid"
                      aria-describedby="datatable_info"
                    >
                      <thead>
                        <tr role="row">
                          <th
                            tabindex="0"
                            rowspan="1"
                            colspan="1"
                            style="width: 20px"
                            aria-label="Position: activate to sort column ascending"
                          >
                           Name of Cooperative
                          </th>
                          <th
                            tabindex="0"
                            rowspan="1"
                            colspan="1"
                            style="width: 180px"
                            aria-label="Position: activate to sort column ascending"
                          >
                           Name of Cooperative
                          </th>
                          <th
                            tabindex="0"
                            rowspan="1"
                            colspan="1"
                            style="width: 165px"
                            aria-label="Position: activate to sort column ascending"
                          >
                           Municipality
                          </th>
                          <th
                            tabindex="0"
                            rowspan="1"
                            colspan="1"
                            style="width: 165px"
                            aria-label="Position: activate to sort column ascending"
                          >
                          Category Name
                          </th>
                          <th
                            tabindex="0"
                            rowspan="1"
                            colspan="1"
                            style="width: 165px"
                            aria-label="Position: activate to sort column ascending"
                          >
                          Cooperative Type
                          </th>
                          <th
                            tabindex="0"
                            rowspan="1"
                            colspan="1"
                            style="width: 165px"
                            aria-label="Position: activate to sort column ascending"
                          >
                          Business Activities
                          </th>
                          <th
                            tabindex="0"
                            rowspan="1"
                            colspan="1"
                            style="width: 165px"
                            aria-label="Position: activate to sort column ascending"
                          >
                          Total Number of Members
                          </th>
                          <th
                            class="sorting"
                            tabindex="0"
                            aria-controls="datatable"
                            rowspan="1"
                            colspan="1"
                            style="width: 165px"
                            aria-label="Position: activate to sort column ascending"
                          >
                            Action
                          </th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr class="odd" *ngFor="let data of sdsCoopList; let i = index">
                          <td valign="top" class="">
                            {{ (pageNumber - 1) * pageSize + i + 1 }}
                          </td>
                          <td valign="top" class="">
                            {{ data.coopName }}
                          </td>
                          <td valign="top" class="">
                            {{data.municipality.municipalities}}
                          </td>
                          <td valign="top" class="">
                            {{data.cooperativeCategoryName.categoryName}}
                          </td>
                          <td valign="top" class="">
                            {{data.cooperativeType.cooperativeTypes}}
                          </td>
                          <td>
                            <span
                              *ngFor="let activity of data.cooperativeBusinessActivities"
                              class="badge bg-warning me-2"
                              >{{ activity.businessActivities }}</span
                            >
                          </td>
                          <td valign="top" class="">
                            {{ data.femaleMembers + data.maleMembers}}
                          </td>
                          
                          <td valign="top" class="">
                            <div class="d-grid gap-2 d-md-block">
                              <button
                            (click)="fetchSdsCoopById(data.sdsCooperativeId)"
                              data-bs-toggle="modal"
                              data-bs-target="#editModal"
                              class="btn btn-info waves-effect waves-light m-2"
                            >
                              Edit
                            </button>
                            <!-- (click)="onDelete(data.barangayId)" -->
                            <a
                            (click)="onDelete(data.sdsCooperativeId)"
                              class="btn btn-danger waves-effect waves-light"
                              >Delete</a
                            >
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </ng-container>
                </div>

                <!-- <div class="d-flex justify-content-between align-items-center">
                  <p>Showing {{(pageNumber - 1) * pageSize + 1}} to {{pageNumber * pageSize > totalRecords ? totalRecords : pageNumber * pageSize}} of {{totalRecords}} entries</p>
                  <div class="d-flex align-items-center">
                    <button class="btn btn-primary me-2" (click)="onPrev()" [disabled]="pageNumber === 1">Previous</button>
                    
                    <ng-container *ngFor="let page of totalPagesArray">
                      <button class="btn btn-primary mx-1" (click)="goToPage(page)" [class.btn-primary]="pageNumber === page">{{ page }}</button>
                    </ng-container>
                    
                    <button class="btn btn-primary ms-2" (click)="onNext()" [disabled]="pageNumber * pageSize >= totalRecords">Next</button>
                  </div>
                </div> -->

                <div class="d-flex justify-content-between align-items-center">
                  <p>Showing {{ (pageNumber - 1) * pageSize + 1 }} to {{ (pageNumber * pageSize > totalRecords) ? totalRecords : pageNumber * pageSize }} of {{ totalRecords }} entries</p>
                  <div class="d-flex align-items-center">
                    <button class="btn btn-primary me-2" (click)="onPrev()" [disabled]="pageNumber === 1">Previous</button>
                
                    <ng-container *ngFor="let page of totalPagesArray">
                      <button class="btn btn-primary mx-1" (click)="goToPage(page)" [class.btn-primary]="pageNumber === page">{{ page }}</button>
                    </ng-container>
                
                    <button class="btn btn-primary ms-2" (click)="onNext()" [disabled]="pageNumber * pageSize >= totalRecords">Next</button>
                  </div>
                </div>

                <div  *ngIf="sdsCoopList.length === 0" class="mt-2">
                  <p class="text-center">No entries found.</p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end page title -->
  </div>
  <!-- container-fluid -->
</div>


<div
  class="border border-1 modal fade"
  id="editModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  class="modal fade bs-example-modal-lg"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myLargeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" style="max-width: 90%">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myLargeModalLabel">Edit Cooperative</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- modal content-->
        <div class="container p-2">
          <ng-container >
            <form #form="ngForm" *ngIf="sdsCoopModel" (ngSubmit)="updateSdsCoopOnSubmit()">
              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="coopName" class="form-label"
                      >NAME OF COOPERATIVE</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      name="coopName"
                      id="coopName"
                      placeholder="Coop name"
                      [(ngModel)]="sdsCoopModel.coopName"
                    />
                  </div>
                </div>
                <!-- your.component.html -->

                <div class="col-md-2">
                  <div class="mb-3">
                    <label for="coopNameModel" class="form-label">Municipality Name</label>
                    <select
                      class="form-select"
                      id="municipality"
                      required
                      name="municipality"
                      [(ngModel)]="sdsCoopModel.municipalityId"
                    >
                      <option selected disabled value="">Choose...</option>
                      <option
                        *ngFor="let municipality of municipalityList"
                        [value]="municipality.municipalityId"
                      >
                        {{ municipality.municipalities }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="mb-3">
                    <label for="streetAddress" class="form-label"
                      >STREET ADDRESS</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      name="streetAddress"
                      id="streetAddress"
                      placeholder="Street Address"
                      [(ngModel)]="sdsCoopModel.streetAddress"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="mb-3">
                    <label for="number" class="form-label"
                      >REGISTRATION NUMBER</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      name="number"
                      id="number"
                      placeholder="Registration no. "
                      [(ngModel)]="sdsCoopModel.number"
                    />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="date" class="form-label"
                      >REGISTRATION DATE
                    </label>
                    <input
                      type="date"
                      name="date"
                      class="form-control"
                      id="date"
                      value="{{ sdsCoopModel.date }}"
                      [ngModel]="sdsCoopModel.date | date : 'yyy-MM-dd'"
                      (ngModelChange)="sdsCoopModel.date = $event"
                    />
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="mb-3">
                    <label for="categoryName" class="form-label"
                      >CATEGORY NAME</label
                    >
                    <select
                      class="form-select"
                      id="categoryName"
                      required
                      name="categoryName"
                      [(ngModel)]="sdsCoopModel.cooperativeCategoryNameId"
                    >
                      <option selected disabled value="">Choose...</option>
                      <option
                        *ngFor="let categoryName of coopCategoryNameList"
                        [value]="categoryName.cooperativeCategoryNameId"
                      >
                        {{ categoryName.categoryName }}
                      </option>
                    </select>

                    
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="coopType" class="form-label"
                      >COOPERATIVE TYPE</label
                    >
                    <select
                      class="form-select"
                      id="coopType"
                      required
                      name="coopType"
                      [(ngModel)]="sdsCoopModel.cooperativeTypeId"
                    >
                      <option selected disabled value="">Choose...</option>
                      <option
                        *ngFor="let cooptype of coopTypeList"
                        [value]="cooptype.cooperativeTypeId"
                      >
                        {{ cooptype.cooperativeTypes }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="contactNumber" class="form-label"
                      >CONTACT PERSON</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      name="contactNumber"
                      id="contactNumber"
                      placeholder=""
                      [(ngModel)]="sdsCoopModel.contactPerson"
                    />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="position" class="form-label">POSITION</label>
                    <input
                      type="text"
                      class="form-control"
                      name="position"
                      id="position"
                      placeholder=""
                      [(ngModel)]="sdsCoopModel.position"
                    />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="contactNumber" class="form-label"
                      >CONTACT NO.</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      name="contactNumber"
                      id="contactNumber"
                      placeholder=""
                      [(ngModel)]="sdsCoopModel.contactNumber"
                    />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="emailAddress" class="form-label"
                      >EMAIL ADDRESS</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      name="emailAddress"
                      id="emailAddress"
                      placeholder=""
                      [(ngModel)]="sdsCoopModel.emailAddress"
                    />
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="femaleMembers" class="form-label"
                      >Female Members</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      name="femaleMembers"
                      id="femaleMembers"
                      placeholder=""
                      [(ngModel)]="sdsCoopModel.femaleMembers"
                    />
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="maleMembers" class="form-label"
                      >Male Members</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      name="maleMembers"
                      id="maleMembers"
                      placeholder=""
                      [(ngModel)]="sdsCoopModel.maleMembers"
                    />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="mt-3">
                      <label
                        for="businessActivities"
                        class="form-label radio-inline"
                        >BUSINESS ACTIVITIES</label
                      >
                      <ng-container
                        *ngIf="CoopBusinessAsset$ | async as CoopBusinessAsset"
                      >
                        <select
                          class="form-control"
                          [(ngModel)]="selectedBusinessAsset"
                          name="businessActivities"
                          id="businessActivities"
                          multiple
                          style="height: 200px"
                        >
                          <option
                            *ngFor="let coopBusinessAsset of CoopBusinessAsset"
                            [value]="coopBusinessAsset.cooperativeBusinessActivityId"
                          >
                            {{ coopBusinessAsset.businessActivities }}
                          </option>
                        </select>
                      </ng-container>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="mb-3">
                          <label for="coopType" class="form-label"
                            >COOPERATIVE ASSET-SIZE</label
                          >
                        
                          <div *ngFor="let coopAssetSize of coopAssetSizeList">
                            <label>
                              <input
                                type="radio"
                                [value]="coopAssetSize.cooperativeAssetSizeId"
                                name="assetSizeCategory"
                                [(ngModel)]="
                                sdsCoopModel.cooperativeAssetSizeId
                                "
                              />
                              {{ coopAssetSize.assetSizeCategory }}
                            </label>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="form-check mt-3">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            name="count"
                            id="count"
                            [(ngModel)]="sdsCoopModel.certificateTaxExemption"
                          />
                          <label class="form-check-label" for="count">
                            CERTIFICATE OF TAX EXEMPTION (CTE)
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr />
              <div>
                <button class="btn btn-primary mt-2" type="submit">
                  Update Cooperative
                </button>
                <button
                  #closeModalUpdate
                  type="button"
                  class="btn btn-warning mt-2 mx-2 waves-effect"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
              </div>
            </form>
          </ng-container>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
