<div class="page-content">
    <div class="container-fluid">
      <!-- start page title -->
      <div class="row">
        <div class="col-12">
          <div
            class="page-title-box d-sm-flex align-items-center justify-content-between"
          >
            <h4 class="mb-sm-0">RBO DIRECTORY</h4>
          </div>
        </div>
  
        
        <!-- Content Here-->
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Surigao Del Sur Rural Base Organization Member</h4>
              <div class="row">
                <div class="col-10">
                  <p class="card-title-desc">This module show all Rural Base Organization Member in Surigao Del Sur.</p>
                </div>
                <div class="col-2">
                  <button
                    class="btn btn-primary waves-effect waves-light float-end"
                    data-bs-toggle="modal"
                    data-bs-target="#addModal" 
                    [routerLink]="['/admin/rbo-directory/add']"
                  >
                    Add Rbo Profile
                  </button>
                </div>
              </div>
  
              <!-- <div class="d-flex flex-row justify-content-between align-items-center mb-3">
                <div class="d-flex align-items-center">
                  <select id="pageSizeSelect" class="form-select" (change)="onPageSizeChange($event)">
                    <option *ngFor="let size of pageSizeOptions" [value]="size">{{ size }}</option>
                  </select>
                </div>
                <div class="d-flex align-items-center">
                  <input  type="text" 
                  class="form-control" 
                  placeholder="Search..." 
                  [(ngModel)]="searchTerm" 
                  (input)="onSearch()" >
                </div>
              </div> -->
  
              <div class="d-flex flex-row justify-content-between align-items-center mb-3">
                <div class="col-1">
                  <select id="pageSizeSelect" class="form-select">
                    <option *ngFor="let size of pageSizeOptions" [value]="size">{{ size }}</option>
                  </select>
                </div>
  
                <div class="col-2">
                  <select
                  class="form-select"
                  [(ngModel)]="filterOnMunicipality"
                  (change)="onFilter()"
                >
                  <option value="" selected>All Municipality</option>
                  <option *ngFor="let municipality of municipalityList" [value]="municipality.municipalityId">
                    {{ municipality.municipalities }}
                  </option>
                </select>
                </div>
  
                <div class="col-2">
                  <select
                  class="form-select"
                  [(ngModel)]="filterOnBarangay"
                  (change)="onFilter()"
                >
                  <option value="" selected>All Barangay</option>
                  <option *ngFor="let barangay of barangayList" [value]="barangay.barangayId">
                    {{ barangay.barangays }}
                  </option>
                </select>
                </div>
                
                <div class="col-2">
                  <select
                  class="form-select"
                  [(ngModel)]="filterOnRegisteredWith"
                  (change)="onFilter()"
                >
                  <option value="" selected>All Registered</option>
                  <option *ngFor="let registered of registeredWithList" [value]="registered.registeredWithId">
                    {{ registered.shortName }}
                  </option>
                </select>
                </div>
                <div class="col-2">
                  <select
                  class="form-select"
                  [(ngModel)]="filterOnCommodity"
                  (change)="onFilter()"
                >
                  <option value="" selected>All Commodity</option>
                  <option *ngFor="let commodity of commodityList" [value]="commodity.commodityId">
                    {{ commodity.commodityName }}
                  </option>
                </select>
                </div>
               
                <div class="d-flex align-items-center">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Search..."
                    [(ngModel)]="searchTerm"
                    (input)="onSearch()"
                  >
                </div>
              </div>
  
             
  
              <div
                id="datatable_wrapper"
                class="dataTables_wrapper dt-bootstrap4 no-footer"
              >
                <div class="row">
                  <div class="col-sm-12"> 
                    <ng-container *ngIf="RboDirectoryList.length > 0;">
                      <table
                        datatable
                        class="table table-bordered dt-responsive nowrap dataTable no-footer dtr-inline"
                        style="
                          border-collapse: collapse;
                          border-spacing: 0px;
                          width: 100%;
                        "
                        role="grid"
                        aria-describedby="datatable_info"
                      >
                        <thead>
                          <tr role="row">
                            <th
                              tabindex="0"
                              rowspan="1"
                              colspan="1"
                              style="width: 165px"
                              aria-label="Position: activate to sort column ascending"
                            >
                              No.
                            </th>
                            <th
                              tabindex="0"
                              rowspan="1"
                              colspan="1"
                              style="width: 165px"
                              aria-label="Position: activate to sort column ascending"
                            >
                            Name of Rbo 
                            </th>
                            <th
                              tabindex="0"
                              rowspan="1"
                              colspan="1"
                              style="width: 165px"
                              aria-label="Position: activate to sort column ascending"
                            >
                             Municipality
                            </th>
                            <th
                              tabindex="0"
                              rowspan="1"
                              colspan="1"
                              style="width: 165px"
                              aria-label="Position: activate to sort column ascending"
                            >
                            Barangay 
                            </th>
                            <th
                              tabindex="0"
                              rowspan="1"
                              colspan="1"
                              style="width: 165px"
                              aria-label="Position: activate to sort column ascending"
                            >
                            Registered with
                            </th>
                            <th
                              tabindex="0"
                              rowspan="1"
                              colspan="1"
                              style="width: 165px"
                              aria-label="Position: activate to sort column ascending"
                            >
                            Commodity
                            </th>
                            <th
                              tabindex="0"
                              rowspan="1"
                              colspan="1"
                              style="width: 165px"
                              aria-label="Position: activate to sort column ascending"
                            >
                            Total Number of Members 
                            </th>
                            <th
                              tabindex="0"
                              rowspan="1"
                              colspan="1"
                              style="width: 165px"
                              aria-label="Position: activate to sort column ascending"
                            >
                            Total Number of Hectares 
                            </th>
                            <th
                              class="sorting"
                              tabindex="0"
                              aria-controls="datatable"
                              rowspan="1"
                              colspan="1"
                              style="width: 165px"
                              aria-label="Position: activate to sort column ascending"
                            >
                              Action
                            </th>
                          </tr>
                        </thead>
  
                        <tbody>
                          <tr class="odd" *ngFor="let data of RboDirectoryList; let i = index">
                            <td valign="top" class="">
                              {{ (pageNumber - 1) * pageSize + i + 1 }}
                            </td>
                            <td valign="top" class="">
                              {{ data.association}}
                            </td>
                            <td valign="top" class="">
                              {{ data.municipality.municipalities}}
                            </td>
                            <td valign="top" class="">
                              {{ data.barangay.barangays}}
                            </td>
                            <td valign="top" class="">
                              {{ data.registeredWith.shortName}}
                            </td>
                            <!-- <td>
                              null
                            </td> -->
                            <td>
                              <span
                                *ngFor="let commodity of data.commodity"
                                class="badge bg-warning me-2"
                                >{{ commodity.commodityName }} {{ commodity.commodityDescription }}</span
                              >
                            </td>
                            <td>
                              {{ data.femaleMembers + data.maleMembers}}
                            </td>
                            <td>
                              {{ data.landSize}}
                            </td>
                            
                            <td valign="top" class="">
                              <div class="d-flex justify-content-between">
                                <a 
                                  (click)="fetchRboDirectoryById(data.ruralOrganizationMemberId)"
                                  data-bs-toggle="modal"
                                  data-bs-target="#editModal"
                                  class="btn btn-info waves-effect waves-light btn-sm"
                                >
                                  Edit
                                </a>
                                <a 
                                  (click)="onDelete(data.ruralOrganizationMemberId)"
                                  class="btn btn-danger waves-effect waves-light btn-sm"
                                >
                                  Delete
                                </a>
                              </div>
                              
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </ng-container>
                  </div>
  
                  <div class="d-flex justify-content-between align-items-center">
                    <p>Showing {{(pageNumber - 1) * pageSize + 1}} to {{pageNumber * pageSize > totalRecords ? totalRecords : pageNumber * pageSize}} of {{totalRecords}} entries</p>
                    <div class="d-flex align-items-center">
                      <button class="btn btn-primary me-2" (click)="onPrev()" [disabled]="pageNumber === 1">Previous</button>
                      
                      <ng-container *ngFor="let page of totalPagesArray">
                        <button class="btn btn-primary mx-1" (click)="goToPage(page)" [class.btn-primary]="pageNumber === page">{{ page }}</button>
                      </ng-container>
                      
                      <button class="btn btn-primary ms-2" (click)="onNext()" [disabled]="pageNumber * pageSize >= totalRecords">Next</button>
                    </div>
                  </div>
  
                  <!-- <div  *ngIf="RboDirectoryList.length === 0" class="mt-2">
                    <p class="text-center">No entries found.</p>
                  </div> -->
  
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
      <!-- end page title -->
    </div>
    <!-- container-fluid -->
  </div>





  <div
  class="border border-1 modal fade"
  id="editModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  class="modal fade bs-example-modal-lg"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myLargeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" style="max-width: 90%">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myLargeModalLabel">
          Edit Rural Base Organization
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- modal content-->
        <div class="container p-2">
          <ng-container *ngIf="rboDirectoryInput">
            <!-- (ngSubmit)="onUpdateFormSubmit()" -->
            <form [formGroup]="rboDirectoryForm" #form="ngForm" (ngSubmit)="onUpdateRboDirectory()">
              <h4 class="card-title-desc text-center" style="color: #1F1B1B;">
                President/Chairman Information Details
              </h4>
              <div class="row">
                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="FirstName" class="form-label">FIRSTNAME</label>
                    <input
                    [ngModelOptions]="{standalone: true}"
                      type="text"
                      class="form-control"
                      name="FirstName"
                      id="FirstName"
                      placeholder="FirstName"
                      [(ngModel)]="rboDirectoryInput.firstName"
                    />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="MiddleName" class="form-label">MIDLENAME</label>
                    <input
                    [ngModelOptions]="{standalone: true}"
                      type="text"
                      class="form-control"
                      name="MiddleName"
                      id="MiddleName"
                      placeholder="MiddleName"
                      [(ngModel)]="rboDirectoryInput.middleName"
                    />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="mb-3">
                    <label for="LastName" class="form-label">LASTNAME</label>
                    <input
                    [ngModelOptions]="{standalone: true}"
                      type="text"
                      class="form-control"
                      name="LastName"
                      id="LastName"
                      placeholder="LastName"
                      [(ngModel)]="rboDirectoryInput.lastName"
                    />
                  </div>
                </div>
                <!-- your.component.html -->

                <div class="col-md-2">
                  <div class="mb-3">
                    <label for="Suffix" class="form-label">SUFFIX</label>
                    <select
                    [ngModelOptions]="{standalone: true}"
                      class="form-select"
                      id="Suffix"
                      required
                      name="Suffix"
                      [(ngModel)]="rboDirectoryInput.suffix"
                    >
                      <option selected disabled value="">Select</option>
                      <option value="N/A">N/A</option>
                      <option value="Jr">Jr</option>
                      <option value="Sr">Sr</option>
                      <option value="II">II</option>
                      <option value="III">III</option>
                      <option value="IV">IV</option>
                      <option value="V">V</option>
                      <option value="Sr">Sr</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="mb-3">
                    <label for="municipality" class="form-label">REGION</label>
                    <p class="form-select">
                      Region XIII
                    </p>
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="mb-3">
                    <label for="Sex" class="form-label">SEX</label>
                    <select
                    [ngModelOptions]="{standalone: true}"
                      class="form-select"
                      id="Sex"
                      required
                      name="Sex"
                      [(ngModel)]="rboDirectoryInput.gender"
                    >
                      <option selected disabled value="">Select</option>
                      <option value="Male">Male</option>
                      <option value="Female">Female</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="streetAddress" class="form-label"
                      >CIVIL STATUS</label
                    >
                    <select
                    [ngModelOptions]="{standalone: true}"
                      class="form-select"
                      id="civilStat"
                      required
                      name="civilStat"
                      [(ngModel)]="rboDirectoryInput.civilStatus"
                    >
                    <option selected disabled value="">Select</option> 
                    <option value="Single">Single</option>
                    <option value="Divorced">Divorced</option>
                    <option value="Separated">Separated</option>
                    <option value="Married">Married</option>
                    <option value="Widowed">Widowed</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="mb-3">
                    <label for="DateOfBirth" class="form-label"
                      >DATE OF BIRTH
                    </label>
                    <input
                    [ngModelOptions]="{standalone: true}"
                      type="date"
                      name="DateOfBirth"
                      class="form-control"
                      id="DateOfBirth"
                      placeholder=""
                      value="{{ rboDirectoryInput.dateOfBirth }}"
                      [ngModel]="rboDirectoryInput.dateOfBirth | date : 'yyy-MM-dd'"
                      (ngModelChange)="rboDirectoryInput.dateOfBirth = $event"
                    />
                  </div>
                </div>

                <div class="col-md-1">
                  <div class="mb-3">
                    <label for="Age" class="form-label">AGE</label>
                    <input
                    [ngModelOptions]="{standalone: true}"
                      type="number"
                      class="form-control"
                      name="Age"
                      id="Age"
                      placeholder=""
                      [(ngModel)]="rboDirectoryInput.age"
                    />
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="mb-3">
                    <label for="streetAddress" class="form-label"
                      >HIGHEST EDUCATIONAL ATTAINMENT</label
                    >
                    <select
                    [ngModelOptions]="{standalone: true}"
                      class="form-select"
                      id="EducationalAttainment"
                      required
                      name="EducationalAttainment"
                      [(ngModel)]="rboDirectoryInput.educationalAttainment"
                    >
                    <option selected disabled value="">Choose...</option>
                    <option value="None">None</option>
                    <option value="HighSchool">HighSchool</option>
                    <option value="MS">MS</option>
                    <option value="PhD">PhD</option>
                    <option value="Elementary">Elementary</option>
                    <option value="Collage Graduate">College Graduate </option>
                    </select>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="streetAddress" class="form-label">DEGREE</label>
                    <input
                    [ngModelOptions]="{standalone: true}"
                      type="text"
                      class="form-control"
                      name="Degree"
                      id="Degree"
                      placeholder="Degree"
                      [(ngModel)]="rboDirectoryInput.degree"
                    />
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="contactNumber" class="form-label"
                      >Contact Number/s
                    </label>
                    <input
                    [ngModelOptions]="{standalone: true}"
                      type="text"
                      class="form-control"
                      name="contactNumber"
                      id="contactNumber"
                      placeholder="+63 "
                      [(ngModel)]="rboDirectoryInput.contactNumber"
                      
                    />
                  </div>
                </div>

                <hr />

                <h4 class="card-title-desc text-center" style="color: #1F1B1B;">
                  Organization Profile
                </h4>
                <div class="row">
                  <div class="col-4">
                    <label for="assoc">Association/Organiation</label>
                    <input
                    [ngModelOptions]="{standalone: true}"
                      id="assoc"
                      name="assoc"
                      type="text"
                      class="form-control"
                      [(ngModel)]="rboDirectoryInput.association"
                    />
                  </div>

                  <div class="col-3">
                    <label for="completeName">Service Area (HA) </label>
                    <input
                    [ngModelOptions]="{standalone: true}"
                      id="serviceHa"
                      name="serviceHa"
                      type="number"
                      class="form-control"
                      class="form-control"
                      [(ngModel)]="rboDirectoryInput.landSize"
                    />
                  </div>

                  <div class="col-2">
                    <label for="regWith">Registered with:</label>
                    <select
                    [ngModelOptions]="{standalone: true}"
                      class="form-select"
                      id="registeredWithId"
                      name="registeredWithId"
                      [(ngModel)]="rboDirectoryInput.registeredWithId"
                    >
                      <option selected disabled value="">Choose...</option>
                      <option
                        *ngFor="let registeredWith of registeredWithList"
                        [value]="registeredWith.registeredWithId"
                      >
                        {{ registeredWith.shortName }}
                      </option>
                    </select>
                  </div>

                  <div class="col-3">
                    <label for="registeredNo">Registaion Number:</label>
                    <input
                    [ngModelOptions]="{standalone: true}"
                      id="registeredNo"
                      name="registeredNo"
                      type="text"
                      class="form-control"
                      [(ngModel)]="rboDirectoryInput.registeredNo"
                    />
                  </div>
                </div>

                <div class="row">

                  <div class="col-3">
                    <label for="Contact">TIN</label>
                    <input
                    [ngModelOptions]="{standalone: true}"
                      id="tin"
                      name="tin"
                      type="text"
                      class="form-control"
                      [(ngModel)]="rboDirectoryInput.tin"
                    />
                  </div>

                  <div class="col-3">
                    <label for="femaleMembers">Female Members</label>
                    <input
                    [ngModelOptions]="{standalone: true}"
                      id="femaleMembers"
                      name="femaleMembers"
                      type="number"
                      class="form-control"
                      [(ngModel)]="rboDirectoryInput.femaleMembers"
                    />
                  </div>
                  <div class="col-3">
                    <label for="maleMembers">Male Members</label>
                    <input
                    [ngModelOptions]="{standalone: true}"
                      id="maleMembers"
                      name="maleMembers"
                      type="number"
                      class="form-control"
                      [(ngModel)]="rboDirectoryInput.maleMembers"
                    />
                  </div>

                  <div class="col-3">
                    <label for="regWith">Date Approved:</label>
                    <input
                    [ngModelOptions]="{standalone: true}"
                      id="regWith"
                      name="regWith"
                      type="date"
                      class="form-control"
                      value="{{ rboDirectoryInput.dateApproved }}"
                      [ngModel]="rboDirectoryInput.dateApproved | date : 'yyy-MM-dd'"
                      (ngModelChange)="rboDirectoryInput.dateApproved = $event"
                    />
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="streetAddress" class="form-label"
                      >DISTRICT</label
                    >
                    <select
                    [ngModelOptions]="{standalone: true}"
                      class="form-select"
                      id="district"
                      required
                      name="district"
                      [(ngModel)]="rboDirectoryInput.district"
                    >
                    <option selected disabled value="">Choose...</option>
                    <option value="I">I</option>
                    <option value="II">II</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="streetAddress" class="form-label"
                      >PROVINCE</label
                    >
                    <p class="form-select">
                      Surigao Del Sur
                    </p>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="streetAddress" class="form-label"
                      >MUNICIPALITY</label
                    >
                    <select
                    [ngModelOptions]="{standalone: true}"
                      class="form-select"
                      id="municipality"
                      required
                      name="municipality"
                      [(ngModel)]="rboDirectoryInput.municipalityId"
                    >
                      <option selected disabled value="">Choose...</option>
                      <option
                        *ngFor="let municipality of municipalityList"
                        [value]="municipality.municipalityId"
                      >
                        {{ municipality.municipalities }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="CityMunicipalityClass" class="form-label"
                      >CITY/MUNICIPALITY CLASS</label
                    >
                    <input
                    [ngModelOptions]="{standalone: true}"
                      type="text"
                      class="form-control"
                      name="CityMunicipalityClass"
                      id="CityMunicipalityClass"
                      placeholder="CityMunicipalityClass"
                      [(ngModel)]="rboDirectoryInput.cityMunicipalityClass"
                    />
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="ZipCode" class="form-label">ZIP CODE</label>
                    <input
                    [ngModelOptions]="{standalone: true}"
                      type="text"
                      class="form-control"
                      name="ZipCode"
                      id="ZipCode"
                      placeholder="ZipCode here"
                      [(ngModel)]="rboDirectoryInput.zipCode"
                    />
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="streetAddress" class="form-label"
                      >BARANGAY</label
                    >
                    <select
                    [ngModelOptions]="{standalone: true}"
                      class="form-select"
                      id="barangay"
                      required
                      name="barangay"
                      [(ngModel)]="rboDirectoryInput.barangayId"
                    >
                      <option selected disabled value="">Choose...</option>
                      <option
                        *ngFor="let barangay of barangayList"
                        [value]="barangay.barangayId"
                      >
                        {{ barangay.barangays }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="streetAddress" class="form-label"
                      >Position/ Designation
                    </label>
                    <input
                    [ngModelOptions]="{standalone: true}"
                      type="text"
                      class="form-control"
                      name="Occupation"
                      id="Occupation"
                      placeholder="(Write in Complete)"
                      [(ngModel)]="rboDirectoryInput.position"
                    />
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="EmailAddress" class="form-label"
                      >Email Address
                    </label>
                    <input
                    [ngModelOptions]="{standalone: true}"
                      type="text"
                      class="form-control"
                      name="EmailAddress"
                      id="Ex. Jhon@gmail.com"
                      placeholder=""
                      [(ngModel)]="rboDirectoryInput.emailAddress"
                    />
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="OfficeOrganizationAddress" class="form-label"
                      >Office/ Organization & Address
                    </label>
                    <input
                    [ngModelOptions]="{standalone: true}"
                      type="text"
                      class="form-control"
                      name="OfficeOrganizationAddress"
                      id="OfficeOrganizationAddress"
                      placeholder=""
                      [(ngModel)]="rboDirectoryInput.officeOrganizationAddress"
                    />
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="streetAddress" class="form-label"
                      >RBO Category
                    </label>
                    <select
                    [ngModelOptions]="{standalone: true}"
                      class="form-select"
                      id="rbodirectory"
                      required
                      name="rbodirectory"
                      [(ngModel)]="rboDirectoryInput.rboCategoryId"
                    >
                      <option selected disabled value="">Choose...</option>
                      <option
                        *ngFor="let rbodirectory of rboCategoryList"
                        [value]="rbodirectory.rboCategoryId"
                      >
                        {{ rbodirectory.shortName }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="interventionReceived" class="form-label"
                      >Intervention Recieved
                    </label>
                    <input
                    [ngModelOptions]="{standalone: true}"
                      type="text"
                      class="form-control"
                      name="interventionReceived"
                      id="interventionReceived"
                      placeholder="Intervention Received"
                      [(ngModel)]="rboDirectoryInput.interventionReceived"
                    />
                  </div>
                </div>


                <div class="col-md-3">
                  <!-- <div class="mb-3">
                    <label for="InterventionRecievedId" class="form-label"
                      >Intervention Received from</label
                    >
                    <select
                    [ngModelOptions]="{standalone: true}"
                      class="form-select"
                      id="interventionRecievedId"
                      name="interventionRecievedId"
                      [(ngModel)]="rboDirectoryInput.interventionReceivedId"
                    >
                      <option selected disabled value="">Choose...</option>
                      <option
                        *ngFor="let interventionRecieved of interventionReceivedList"
                        [value]="interventionRecieved.interventionReceivedId"
                      >
                        {{ interventionRecieved.receivedFrom }}
                      </option>
                    </select>
                  </div> -->
                </div>

                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="interventionDetails" class="form-label"
                      >Please Specify
                    </label>
                    <input
                    [ngModelOptions]="{standalone: true}"
                      type="text"
                      class="form-control"
                      name="interventionDetails"
                      id="interventionDetails"
                      placeholder=""
                      [(ngModel)]="rboDirectoryInput.interventionDetails"
                    />
                  </div>
                </div>

                <div class="col-md-12">
                  <h4 class="card-title">Commodities</h4>
                  <div formArrayName="commodities">
                    <div class="row" *ngFor="let commodity of commodities().controls; let i = index" [formGroupName]="i">
                      <div class="col-4">
                        <!-- Select List for Commodity Name -->
                        <label for="commodityId">Commodity Name:</label>
                        <select formControlName="commodityId" class="form-control">
                          <option selected disabled value="">Choose...</option>
                          <option *ngFor="let item of commodityList" [value]="item.commodityId">
                            {{ item.commodityName }}
                          </option>
                        </select>
                      </div>
                      <div class="col-6 pb-2">
                        <!-- Text Input for Commodity Details -->
                        <label for="commodityDetails">Commodity Details:</label>
                        <textarea type="text" class="form-control" rows="1" cols="33" formControlName="commodityDetails" placeholder="Enter details"></textarea>
                      </div>
                      <div style="margin-top:29px;" class="col-2">
                        <!-- Remove Button -->
                        <button type="button" class="btn btn-danger" (click)="removeCommodity(i)">Remove</button>
                      </div>
                    </div>
                  </div>
                  <!-- Add Commodity Button -->
                  <button type="button" class="btn btn-primary mb-2" (click)="addCommodity()">Add Commodity</button>
                </div>

                <hr />
              </div>

              <div>
                <button class="btn btn-primary mt-2" type="submit">
                  Update Cooperative
                </button>
                <button
                  #closeModalUpdate
                  type="button"
                  class="btn btn-warning mt-2 mx-2 waves-effect"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
              </div>
            </form>
          </ng-container>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
