<div class="vertical-menu">
  <div data-simplebar class="h-100">
    <!--- Sidemenu -->
    <div id="sidebar-menu">
      <!-- Left Menu Start -->
      <ul class="metismenu list-unstyled" id="side-menu">
        <li class="menu-title">Menu</li>

        <li>
          <a [routerLink]="['/admin/dashboard']" class="waves-effect">
            <i class="ri-dashboard-line"></i
            ><span class="badge rounded-pill bg-success float-end">3</span>
            <span>Dashboard</span>
          </a>
        </li>

        <li>
          <a [routerLink]="['/admin/rbo-directory']" class="waves-effect">
            <i class="ri-book-3-line"></i>
            <span>Rbo Directory</span>
          </a>
        </li>

        <li>
          <a [routerLink]="['/admin/sds-cooperative']" class="waves-effect">
            <i class="ri-bank-fill"></i>
            <span>Whole SDS Cooperative</span>
          </a>
        </li>

        <li class="menu-title">Maintenance</li>

        <li
          [class.mm-active]="isMenuExpanded"
          [attr.aria-expanded]="isMenuExpanded"
          (click)="toggleMenu()"
        >
          <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="ri-settings-4-line"></i>
            <span>Maintenance</span>
          </a>
          <ul
            class="sub-menu"
            aria-expanded="false"
            [class.mm-collapse]="!isMenuExpanded"
            [class.mm-show]="isMenuExpanded"
            [attr.aria-expanded]="isMenuExpanded ? 'true' : 'false'"
          >
          <li><a [routerLink]="['/admin/barangay']">Barangay</a></li>
          <li><a [routerLink]="['/admin/municipality']">Municipality</a></li>
          <li><a [routerLink]="['/admin/rbo-category']">RBO Category</a></li>
          <li><a [routerLink]="['/admin/coop-name']">Coop Names</a></li>
          <li><a [routerLink]="['/admin/coop-type']">Coop Type</a></li>
          <li>
            <a [routerLink]="['/admin/ccop-asset']"
              >Coop Asset Size Category</a
            >
          </li>
          <li>
            <a [routerLink]="['/admin/business-activity']"
              >Coop Business Activities</a
            >
          </li>
          <li>
            <a [routerLink]="['/admin/intervention-received']"
              >Intervention Received</a
            >
          </li>
          </ul>
        </li>

        <li class="menu-title">Report</li>

        <li>
          <a href="#" class="waves-effect">
            <i class="ri-article-line"></i>
            <span>Reports</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- Sidebar -->
  </div>
</div>
